#其它
.idea/
/vendor/
node_modules/


# Laravel 4 specific
/laravel-demo/bootstrap/compiled.php
/laravel-demo/app/storage/

# Laravel 5 & Lumen specific
/laravel-demo/public/storage
/laravel-demo/public/hot

# Laravel 5 & Lumen specific with changed public path
/laravel-demo/public_html/storage
/laravel-demo/public_html/hot

/laravel-demo/vendor

npm-debug.log
yarn-error.log
storage/*.key
.env
.env.backup
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
docker-compose.override.yml


# thinkphp
/.idea
/.vscode
/thinkphp-demo/vendor
*.log
.env
.DS_Store
thinkphp




